*{
    margin: 0;
}

/* shared style */
.dflex{
    display: flex;
}
.center-text{
    text-align: center;
}
.boder{
    border: 2px solid black;
}
img{
    width: 100%;
}

/* header */
.mwidth{
    max-width: 1140px;
    margin: 0 auto;
}
/* navbar */
.cart{
    gap:10px;
}

nav ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-list-item{
    padding: 0;
    gap: 3rem;
}
.navbar{
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
header img{
    max-width: 100%;
}

/* banner */
.banner{
    align-items:flex-end;
    margin-top: 120px;
}
.banner-img, .banner-content{
    flex: 1;
    padding-top: 106px;
}
.banner-description{
    margin-top: 13px;
}

/* main section */

/* card section */
.plants-section{
    margin-top: 120px;
}
.card-container{
    max-width: 100%;
}
.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    max-width: 100%;
}


.card-content button{
    width: 100%;
}

/* plant lover section */
.plant-lover-img, .plant-lover-content{
    flex: 1;

}
.plant-lover{
    gap:50px;
    align-items: center;
    margin-top: 210px;
}

/* join section */
.join-section{
    margin: 0 auto;
    max-width: 1440px;
    background-image: url("../assets/news-letter-bg.png");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.join-content{
   padding-top: 199px;
   padding-bottom: 193px;
   padding-left: auto;
   padding-right: auto;
   
}
